---
import '../styles/global.css';
const pageTitle = "关于我";
const skillColor = "rgb(241, 123, 5)";
const fontWeight = "bold";
const textCase = "uppercase"; 

const identity = {
  firstName: "莎拉",
  country: "加拿大",
  occupation: "技术撰稿人",
  hobbies: ["摄影", "观鸟", "棒球"]
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---
<html lang="zh-CN">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <style define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
            color: purple;
            font-size: 4rem;
        }
        .skills {
        color: rgb(17, 128, 0);
        font-weight: bold;
        }
        .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
        }
    </style>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>
    <h1>{pageTitle}</h1>
    <p>以下是关于我的几个事实：</p>
    <ul>
        <li>我的名字是{identity.firstName}。</li>
        <li>我住在{identity.country}。我的职业是{identity.occupation}。</li>
        {
            identity.hobbies.length >= 1 && (
            <li>我的爱好包括：
                <ul>
                    {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
                </ul>
            </li>
            )
        }
    {
        skills.length >= 1 && (
        <li >
            <span class="skills">我的技能包括：</span>
            <ul>
                {skills.map((tmp) => <li class="skill">{tmp}</li>)}
            </ul>
        </li>
        )
    }
   </ul>
  </body>
</html>